PORT=3000
DOMAIN=http://localhost:3000
DATA_DIR=./data
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_STARTER_PRICE_ID=
STRIPE_STARTER_ANNUAL_PRICE_ID=
STRIPE_PRO_PRICE_ID=
STRIPE_PRO_ANNUAL_PRICE_ID=
OVERAGE_UNIT_PRICE_CENTS=5
